.header-desc {
  width: 50vw;
  margin-left: 24%;
  margin-bottom: 10px;
  text-align: left;
}

.item-container {
  display: flex;
  width: 90vw;
  height: 90vh;
  justify-content: space-between;
  font-size: 1rem;
}

.item-list {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.item {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  margin-bottom: 15px;
  margin-left: 10px;
  justify-content: space-between;
}

.item-image {
  width: 10%;
  margin-right: 10px;
}

.chevron-left {
  border-width: 3px;
  border-style: solid;
  border-radius: 50% 50% 50% 50%; 
  padding: 2% 3%; 
  border-color: #68add3;
  color: #68add3;
}

.chevron-right-active {
  background-color: #68add3;
  color: white;
  border-width: 3px;
  border-style: none;
  border-radius: 50% 50% 50% 50%; 
  padding: 3% 4%; 
}

.item-title {
  margin: 0 15px;
}

.item-detail-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
  justify-content: space-between;
  height: 70%;
}

.top-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 40%;
  justify-content: space-between;
  text-align: left;
}

.item-price {
  font-size: 1.5rem;
  font-weight: bold;
}

.item-ratings {
  display: flex;
}

.cart-button {
  background-color: #68add3;
  color: white;
  border-radius: 6px;
  font-size: 1rem;
  min-height: 41px;
  width: 30%;
  cursor: pointer;
}
